<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>

    </system.diagnostics>
  <startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->

  <system.serviceModel>


    <bindings>


      <basicHttpBinding>


        <binding useDefaultWebProxy="true" transferMode="Buffered" textEncoding="utf-8" messageEncoding="Text" maxReceivedMessageSize="5242880" maxBufferPoolSize="524288" maxBufferSize="5242880" hostNameComparisonMode="StrongWildcard" bypassProxyOnLocal="false" allowCookies="false" sendTimeout="00:10:00" receiveTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00" name="TimbradoSoap">

          <readerQuotas maxNameTableCharCount="32768" maxBytesPerRead="4096" maxArrayLength="32768" maxStringContentLength="5242880" maxDepth="32" />


          <security mode="None">

            <transport realm="" proxyCredentialType="None" clientCredentialType="None" />

            <message clientCredentialType="UserName" algorithmSuite="Default" />

          </security>

        </binding>


        <binding useDefaultWebProxy="true" transferMode="Buffered" textEncoding="utf-8" messageEncoding="Text" maxReceivedMessageSize="5242880" maxBufferPoolSize="524288" maxBufferSize="5242880" hostNameComparisonMode="StrongWildcard" bypassProxyOnLocal="false" allowCookies="false" sendTimeout="00:10:00" receiveTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00" name="Timbrado33Soap">

          <readerQuotas maxNameTableCharCount="32768" maxBytesPerRead="4096" maxArrayLength="32768" maxStringContentLength="5242880" maxDepth="32" />


          <security mode="Transport">

            <transport realm="" proxyCredentialType="None" clientCredentialType="None" />

            <message clientCredentialType="UserName" algorithmSuite="Default" />

          </security>

        </binding>

      </basicHttpBinding>

    </bindings>


    <client>

      <!--PRUEBAS-->


      <endpoint name="TimbradoSoapPruebas" contract="wsReference.TimbradoSoap" bindingConfiguration="TimbradoSoap" binding="basicHttpBinding" address="https://201.175.12.89/serviciointegracionpruebas/Timbrado.asmx" />

      <!--PRODUCTIVO-->


      <endpoint name="TimbradoSoapProductivo" contract="wsReference.TimbradoSoap" bindingConfiguration="TimbradoSoap" binding="basicHttpBinding" address="https://200.53.180.22/servicioIntegracion/timbrado.asmx" />

      <!--PRUEBAS 3.3-->


      <endpoint name="Timbrado33SoapPruebas" contract="wsReference33.TimbradoSoap" bindingConfiguration="Timbrado33Soap" binding="basicHttpBinding" address="https://cfdi33-pruebas.buzoncfdi.mx:1443/Timbrado.asmx" />

      <!--PRODUCTIVO 3.3-->


      <endpoint name="Timbrado33SoapProductivo" contract="wsReference33.TimbradoSoap" bindingConfiguration="Timbrado33Soap" binding="basicHttpBinding" address="https://timbracfdi33.mx:1443/Timbrado.asmx" />

    </client>

  </system.serviceModel>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-8.0.25.0" newVersion="8.0.25.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
